@model IEnumerable<UCP1_PAW_121_C.Models.SewaMobil>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Jumlah Hari")
            </th>
            <th>
                @Html.DisplayName("Total")
            </th>
            <th>
                @Html.DisplayName("Id Driver")
            </th>
            <th>
                @Html.DisplayName("Id Mobil")
            </th>
            <th>
                @Html.DisplayName("Id Pelanggan")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JumlahHari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDriverNavigation.IdDriver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMobilNavigation.IdMobil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPelangganNavigation.IdPelanggan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSewaMobil"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdSewaMobil"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdSewaMobil"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
