@model UCP1_PAW_121_C.Models.Pelanggan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pelanggan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaPelanggan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaPelanggan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoHpPelanggan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoHpPelanggan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alamat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPelanggan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
