@model IEnumerable<UCP1_PAW_121_C.Models.Driver>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Driver")
            </th>
            <th>
                @Html.DisplayName("No Hp Driver")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaDriver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoHpDriver)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDriver"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdDriver"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdDriver"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
